[Unit]
Description=Poll optional Palworld Game Data every 30 seconds

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=3s
Unit=palworld-game-data.service

[Install]
WantedBy=timers.target

