[Unit]
Description=Record Palworld history every five minutes

[Timer]
OnCalendar=*-*-* *:0/5:00
Persistent=true
Unit=palworld-history.service

[Install]
WantedBy=timers.target
