[Unit]
Description=Check Palworld scheduled jobs every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=palworld-scheduler.service

[Install]
WantedBy=timers.target
